header {
	display: flex;
	flex-flow: row nowrap;
	width: 100vw;
	height: 60px;
	background-color: #fff;
	z-index: 100;
	-webkit-box-shadow: 0 2px 0 0 rgba(125,141,154,.2);
	box-shadow: 0 2px 0 0 rgba(125,141,154,.2);
}