* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	&:focus {
		outline: none;
	}
}

html, body {
	height: 100%;
}

body {
	background-color: $shine-blue-gray;
	background-color: var(--shine-blue-gray);
}
