$shine-orange: #ff6900; // Shine Brand Orange
$shine-light-orange: #f56500; // shine light orange
$shine-brand-blue: #425563; // Shine Brand Blue
$shine-dark-blue: #364652;
$shine-dark-orange: #b34900; // Shine dark orange
$shine-dark-gray: #555555; // The dark gray from the footer
$shine-light-gray: #7a7a7a; // The light gray shade
$shine-blue: #303d46; // Deep complimentary blue
$shine-blue-gray: #f3f4f5; // Shine light grayish blue
$red: red;
$green: #90c05c;
$heavy-font: 'Fjalla One', 'trebuchet ms', sans-serif;
$main-font: 'Rubik', 'trebuchet ms', sans-serif;
$top-level-width: 95%;
$border-radius: 2px;

:root {
	--shine-orange: $shine-orange;
	--shine-brand-blue: $shine-brand-blue;
	--shine-dark-blue: $shine-dark-blue;
	--shine-light-orange: $shine-light-orange;
	--shine-dark-orange: $shine-dark-orange;
	--shine-dark-gray: $shine-dark-gray;
	--shine-light-gray: $shine-light-gray;
	--shine-blue: $shine-blue;
	--shine-blue-gray: $shine-blue-gray;
	--red: $red;
	--green: $green;
	--heavy-font: $heavy-font;
	--main-font: $main-font;
	--top-level-width: $top-level-width;
	--border-radius: $border-radius;
}
