* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	color: $shine-brand-blue;
	color: var(--shine-brand-blue);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:focus {
		outline: none;
	}
}

html, body {
	height: 100%;
	background-color: $shine-gray-one;
	background-color: var(--shine-gray-one);
}
