:root {

	// Brand colors
	--shine-brand-orange: #ff6900;
	--shine-brand-blue: #425563;

	// Orange shades
	--shine-orange-one: #f56500;

	// Blue shades
	--shine-blue-one: #506676;
	--shine-blue-two: #485D6C;
	--shine-blue-three: #364652;
	--shine-blue-four: #303D46;

	// Gray shades
	--shine-gray-one: #f3f4f5;
	--shine-gray-two: #eceeef;
	--shine-gray-three: #e0e3e5;
	--shine-gray-four: #d3d8dc;
	--shine-gray-five: #b1bbc2;
	--shine-gray-six: #7D8D9A;

	// Other colors
	--green: #90c05c;
	--error-color: #e74015;
	--presentational-gray: #555;

	// Fonts
	--heavy-font: 'Fjalla One', 'trebuchet ms', sans-serif;
	--main-font: 'Rubik', 'trebuchet ms', sans-serif;

	// Presentational Elements
	--border-radius: 2px;

//	--gray-checkmark: url('data:image/svg+xml;utf8,<svg width="15px" height="13px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="11---Website" transform="translate(-405.000000, -653.000000)" stroke="#7D8D9A" stroke-width="2.5"><polyline id="Path-2" points="406 659.868999 410.677524 665.578264 420.809666 654"></polyline></g></g></svg>');

//	--white-checkmark: url('data:image/svg+xml;utf8,<svg width="15px" height="13px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="11---Website" transform="translate(-405.000000, -653.000000)" stroke="#fff" stroke-width="2.5"><polyline id="Path-2" points="406 659.868999 410.677524 665.578264 420.809666 654"></polyline></g></g></svg>');

//	--white-pill-circle: url('data:image/svg+xml;utf8,<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><rect id="path-1" x="4" y="4" width="24" height="24" rx="12"></rect><filter x="-20.8%" y="-16.7%" width="141.7%" height="141.7%" filterUnits="objectBoundingBox" id="filter-2"><feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur><feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix></filter></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="11---Website" transform="translate(-810.000000, -314.000000)"><g id="Group-6-Copy" transform="translate(809.000000, 312.000000)"><g id="Rectangle"><use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use><use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use></g></g></g></g></svg>');

}
