:root {

	// Brand colors
	--shine-brand-orange: #ff6900;
	--shine-brand-blue: #425563;

	// Orange shades
	--shine-orange-one: #f56500;
	--shine-orange-two: #ff940f;

	// Blue shades
	--shine-blue-one: #506676;
	--shine-blue-two: #485D6C;
	--shine-blue-three: #364652;
	--shine-blue-four: #303D46;

	// Gray shades
	--shine-gray-one: #f3f4f5;
	--shine-gray-two: #eceeef;
	--shine-gray-three: #e0e3e5;
	--shine-gray-four: #d3d8dc;
	--shine-gray-five: #b1bbc2;
	--shine-gray-six: #7D8D9A;

	// Other colors
	--green: #3dca59;
	--error-color: #e74015;
	--presentational-gray: #555;
	--baby-blue: #4cd5e9;
	--yellow: #facb34;

	// Fonts
	--heavy-font: 'Fjalla One', 'trebuchet ms', sans-serif;
	--main-font: 'Rubik', 'trebuchet ms', sans-serif;

	// Presentational Elements
	--border-radius: 2px;
}
