main, section, article, aside, div, form {
	display: flex;
	align-items: center;
	justify-content: center;
}

main, form {
	flex-flow: column nowrap;
}

main {
	width: 100%;
}

.top-level-allowed-width {
	width: 95%;
	max-width: 1100px;
}
