label:not(label.not-form-field) {
	color: #7d8d9a;
	font-size: 14px;
	display: flex;
	height: auto;
	flex-flow: column nowrap;
	input:not([type=checkbox]):not([type=radio]) {
		border-radius: $border-radius;
		border-radius: var(--border-radius);
		font-size: 16px;
		margin-top: 5px;
		text-indent: 15px;
		color: $shine-light-gray;
		color: var(--shine-light-gray);
		& ~ span {
			opacity: 0;
			color: #e74015;
			font-size: 12px;
			line-height: 16px;
			margin-top: 3px;
			transition: opacity .1s;
			cursor: auto;
		}
		&.input-shadow { box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); }
		&::placeholder { color: #b1bbc2; text-indent: 15px; font-size: 16px;}
		&::-webkit-input-placeholder { color: #b1bbc2; text-indent: 15px; font-size: 16px; }
		&:-ms-input-placeholder { color: #b1bbc2; text-indent: 15px; font-size: 16px; }
		&::-ms-input-placeholder { color: #b1bbc2; text-indent: 15px; font-size: 16px; }
		&:focus {
			box-shadow: 0 2px 0 0 $shine-orange;
			box-shadow: 0 2px 0 0 var(--shine-orange);
			&::placeholder { color: transparent; }
			&::-webkit-input-placeholder { color: transparent; }
			&:-ms-input-placeholder { color: transparent; }
			&::-ms-input-placeholder { color: transparent; }
			&:invalid {
				& ~ span {
					display: inline-block;
					opacity: 1;
				}
			}			
		}
	}
}