// Simple radio button, with two different color styles
input[type=radio] {
	border-radius: 50px;
	background-color: #fff;
	&:checked {
		border-style: solid;
		border-width: 6px;
		border-color: $shine-brand-orange;
		border-color: var(--shine-brand-orange);
		&.blue {
			border-color: $shine-brand-blue;
			border-color: var(--shine-brand-blue);
		}
	}
}

// Simple checkbox with two different color styles
input[type=checkbox] {
	border-radius: $border-radius;
	border-radius: var(--border-radius);
	background-color: #fff;
	&:checked {
		background-image: $white-checkmark;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $shine-brand-orange;
		background-color: var(--shine-brand-orange);
		border: none;
		&.blue {
			background-color: $shine-brand-blue;
			background-color: var(--shine-brand-blue);
		}
	}
}

// On/Off checkbox switch with two different color styles
input[type=checkbox].on-off-switch {
	
	justify-content: flex-end;
	width: 70px;
	height: 32px;
	border-radius: 50px;
	border: none;
	background-image: $white-pill-circle;
	background-repeat: no-repeat;
	background-color: $shine-gray-three;
	background-color: var(--shine-gray-three);
	background-position-y: center;
	background-position-x: 4%;
	transition: all .1s;
	font-family: $heavy-font;
	font-family: var(--heavy-font);

	&::after {
		content: 'off';
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		height: 35px;
		text-transform: uppercase;
		font-size: 16px;
		margin-right: 10px;
		color: $shine-brand-blue;
		color: var(--shine-brand-blue);
		transition: all .1s;
	}

	&:checked {
		background-position-x: 94%;
		background-color: $shine-brand-orange;
		background-color: var(--shine-brand-orange);
		&::after {
			content: 'on';
			color: #fff;
			transform: translateX(-29px);
		}
	}

	&.blue {
		&:checked {
			background-color: $shine-brand-blue;
			background-color: var(--shine-brand-blue);
			&::after {
				color: #fff;
			}
		}
		&::after {
			color: $shine-brand-blue;
			color: var(--shine-brand-blue);
		}
	}

}
