h1, h2, h3, h4, h5 {
	font-family: $heavy-font;
	font-family: var(--heavy-font);
	color: $shine-brand-orange;
	color: var(--shine-brand-orange);
	&.blue {
		color: $shine-brand-blue;
		color: var(--shine-brand-blue);
	}
	& span {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
	}
}

h1 {font-size: 44px;}
h2 {font-size: 38px;}
h3 {font-size: 32px;}
h4 {font-size: 26px;}
h5 {font-size: 20px;}
