.loading-animation {
    height: 100vh;
    width: 100vw;
    background-color: $shine-gray-one;
    background-color: var(--shine-gray-one);
    position: fixed;
    z-index: 9999;
    
    g#outside-circle {
    	transform-origin: center;
    	animation: backwards-spin 3s infinite linear;
    }
  	
  	g#inside-circle {
    	transform-origin: center;
    	transform-box: fill-box;
    	animation: spin-the-inner-circle 3s infinite linear;
  	}

  	&.loaded { display: none; }

}